<app-menu></app-menu>
<div class="container mt-5">
  <h1><span>La {{ title }} está corriendo!</span> </h1>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam tempora dolor exercitationem pariatur quas explicabo voluptate, eos accusantium suscipit. Facilis, minima possimus non in cum temporibus sunt? Delectus, unde numquam.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum provident nostrum officia in, repudiandae porro, cumque eligendi ipsam explicabo molestias quos ducimus laborum autem eos. Harum, laboriosam! Omnis, natus eos.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti soluta consectetur provident in dolor? Tempora impedit aspernatur placeat cum blanditiis asperiores perferendis porro, unde, tempore aperiam quis dolorum, molestiae dignissimos.</p>
</div>

<router-outlet></router-outlet>