<h3>Formulario del Cliente</h3>

<form>
      <div class="form-group">
        <label for="nombres">Nombres</label>
        <input type="text" class="form-control" name="nombres" placeholder="Ingrese los nombres">
      </div>
      <div class="form-group">
        <label for="apellidos">Apellidos</label>
        <input type="text" class="form-control" name="apellidos" placeholder="Ingrese los apellidos">
      </div>
      <div class="form-group">
        <label for="correo">Correo</label>
        <input type="email" class="form-control" name="correo" placeholder="Correo Electrónico">
      </div>
      <div class="form-group">
        <label for="telefonos">Telefonos</label>
        <input type="text" class="form-control" name="telefonos" placeholder="Telefonos">
      </div>
      <div class="form-group">
        <label for="celular">Celular</label>
        <input type="text" class="form-control" name="celular"  placeholder="Celular">
      </div>
      <div class="form-group">
        <label for="fechaNacimiento">Fecha de Nacimiento</label>
        <input type="date" class="form-control" name="fechaNacimiento">
      </div>
      <div class="form-group">
        <label for="direccion">Dirección</label>
        <input type="text" class="form-control" name="direccion"  placeholder="Ingrese Dirección">
      </div>
      <hr>
      <a href="" class="btn  btn-primary">Añadir</a>

  </form>