<h3>Formulario del Cliente</h3>

<form>
    <div class="form-group">
      <label for="nombres">Nombres</label>
      <input type="text" [(ngModel)]="client.nombres" class="form-control" name="nombres" placeholder="Ingrese los nombres" autofocus>
    </div>
    <div class="form-group">
      <label for="apellidos">Apellidos</label>
      <input type="text" [(ngModel)]="client.apellidos" class="form-control" name="apellidos" placeholder="Ingrese los apellidos">
    </div>
    <div class="form-group">
      <label for="correo">Correo</label>
      <input type="email" [(ngModel)]="client.correo" class="form-control" name="correo" placeholder="Correo Electrónico">
    </div>
    <div class="form-group">
      <label for="telefonos">Telefonos</label>
      <input type="text" [(ngModel)]="client.telefonos" class="form-control" name="telefonos" placeholder="Telefonos">
    </div>
    <div class="form-group">
      <label for="celular">Celular</label>
      <input type="text" [(ngModel)]="client.celular" class="form-control" name="celular"  placeholder="Celular">
    </div>
    <div class="form-group">
      <label for="fechaNacimiento">Fecha de Nacimiento</label>
      <input type="date" [(ngModel)]="client.fechaNacimiento"  class="form-control" name="fechaNacimiento">
    </div>
    <div class="form-group">
      <label for="direccion">Dirección</label>
      <input type="text" [(ngModel)]="client.direccion" class="form-control" name="direccion"  placeholder="Ingrese Dirección">
    </div>
    <hr>
    <button class="btn btn-primary" (click)="saveNewClient()">Añadir</button>

</form>