<div class="container" align="center">
    <div class="card border-primary mb-3" style="max-width: 20rem;" >
      <div class="card-header"> <h2>Iniciar Sesión</h2></div>
      <div class="card-body">
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
          <input type="email" class="form-control" name="correo" placeholder="Correo" id="jmartinez@ejemplo.com"  required>
        </div>
        <br>
             <div class="input-group input-group-lg">
               <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-lock"></i></span>
               <input type="password" name="contra" class="form-control" placeholder="******"  required>
             </div>
             <br>
             <button class="btn btn-lg btn-primary btn-block btn-signin" id="IngresoLog" type="submit">Entrar</button>
             <br>
             <a routerLink="/usuario/nuevo">Si eres nuevo entra aquí</a>
             <div class="opcioncontra"><a href="#">Olvidaste tu contraseña?</a></div>

      </div>
    </div>
  </div>

  <!-- <div id="Contenedor">
      <br><br>
  <div class="ContentForm">
          <form action="" method="post" name="FormEntrar">
              <div class="input-group input-group-lg">
               <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
               <input type="email" class="form-control" name="correo" placeholder="Correo" id="Correo" aria-describedby="sizing-addon1" required>
             </div>
             <br>
             <div class="input-group input-group-lg">
               <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-lock"></i></span>
               <input type="password" name="contra" class="form-control" placeholder="******" aria-describedby="sizing-addon1" required>
             </div>
             <br>
             <button class="btn btn-lg btn-primary btn-block btn-signin" id="IngresoLog" type="submit">Entrar</button>
             <div class="opcioncontra"><a href="">Olvidaste tu contraseña?</a></div>
          </form>
      </div>	
      </div> -->